.header {
  background-color: #333;
  color: #fff;
  height: 9vh;
}

@media only screen and (max-width: 770px ) {
    .header {
       height: 15vh;
    }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  > a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
