.table-container {
  padding: 20px;
  border-radius: 8px;
  border: 2px  #ddd;;
  width: 300px;
  font-family: Arial, sans-serif;
  background-color: #ddd;
  color: black;
  margin: 10px;
}

.ratings-table {
  width: 100%;
  border-collapse: collapse;
}

.ratings-table th, .ratings-table td {
  padding: 8px;
  text-align: left;
}

.ratings-table th {
  border-bottom: 1px solid #ddd;
}

.ratings-table td {
  border-bottom: 1px solid #f1f1f1;
}

.ratings-table td:first-child {
  color: #1a73e8;
  text-decoration: underline;
  cursor: pointer;
}
